---

import Button from './Button.astro';

interface Props {
    image: string,
    imgAlt: string,
    tags: string,
    title: string,
    url: string,
    codeURL: string,
}


const { image, imgAlt, tags, title, url, codeURL } = Astro.props;

---

<section>
    <img src={image} class="w-full rounded-3xl" alt={imgAlt} />
    <p class="italic">{tags}</p>
    <h4 class="text-xl p-1 uppercase font-bold">{title}</h4>
    <div class="flex justify-between">
        <Button link={url} name='Live Website' bgColor='bg-red-200' width='w-full' />
        <Button link={codeURL} name='GitHub' bgColor='bg-red-400' width='w-full' />
    </div>
</section>